body{
    background-image: url("login2.webp");
    background-size: cover;
}
.container{
    height: 400px;
    margin-top:1rem;
    margin-left: 18rem;
    margin-right: 14rem;
    width: 1000px;
    box-shadow: 10px 0 40px rgba(0, 0,0,0.8);


}
.left{
    background-color: white;
    float: left;
    width: 400px;
    border-radius: 7px;
    height: 400px;



}
.left h1{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: grey;
    font-weight: 900;
    font-family:'Courier New', Courier, monospace ;
}
input {
  margin-top: 1rem;
    margin-left:5rem;
    height: 40px;
    width: 250px;
    border: none;
    border-bottom: 5px solid maroon;
    

}
button{
    margin: 2rem;
    margin-left:6rem;
    height: 50px;
    width: 200px;
    border-radius: 200px;
    font-size: 1.3rem;
    background-color:maroon;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button:hover{
    cursor: pointer;
    font-size: 1.6rem;
    transition: 0.2s all ease-in-out;
    background-color:#234567;
}
img{
    width: 600px;
    height: 400px;
}
.top-left {
    position: absolute;
    top: 10%;
    left: 42%;
    font-size: 4rem;
    font-weight: 800;
font-family: cursive; 
color:greenyellow; 
}
  
  .right {
    position: relative;
    color:white;
  }
  .top-left1 {
    position: absolute;
    top: 58%;
    left: 43%;
    font-size: 1.9rem;
    font-weight: 700;
    color:lightblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }
  .input{
    position: relative;
    z-index: 99;
    outline: none;
    font-size:1.4rem;
  }
  .button{
    position: relative;
    z-index: 99;
    outline: none;
  }
  .link{
    position: relative;
    z-index: 99;
    outline: none; 
    display: inline;
    margin: 3rem;
    text-decoration: none;
    color:red;
    font-weight: bolder;
   
  }
  a img{
    width: 10rem;
    height: 10rem;
    border-radius: 20rem;
    box-shadow: 0 0 40px rgba(0,0,0,0.8);
  }
 